<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <customfee>
            <general>
                <active>1</active>
                <title>Extra Fee</title>
                <price>10</price>
            </general>
        </customfee>
    </default>
</config>
