<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <extrafee>
            <general>
                <active>0</active>
                <title>Extra Fee</title>
                <pricetype>0</pricetype>
                <price>10</price>
                <minorderamount>0</minorderamount>
                <maxorderamount>9999</maxorderamount>
                <refund>1</refund>
            </general>
        </extrafee>
    </default>
</config>
