<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mageprince" translate="label" sortOrder="110">
            <label>MagePrince</label>
        </tab>
        <section id="extrafee" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Extra Fee</label>
            <tab>mageprince</tab>
            <resource>Magento_Backend::content</resource>
            <group id="general" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Extra Fee</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <validate>required-entry</validate>
                </field>
                <field id="pricetype" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Price Type</label>
                    <source_model>Prince\Extrafee\Model\Config\Source\PriceType</source_model>
                </field>
                <field id="price" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Extra Fee</label>
                    <validate>required-entry validate-number</validate>
                </field>
                <field id="minorderamount" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minimal order amount</label>
                    <comment><![CDATA[Don't calculate fee if the order amount was les then amount]]></comment>
                    <validate>validate-number</validate>
                </field>
                <field id="maxorderamount" translate="label" type="text" sortOrder="65" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maximum order amount</label>
                    <comment><![CDATA[Don't calculate fee if the order amount was more then amount]]></comment>
                    <validate>validate-number</validate>
                </field>
                <field id="refund" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Refund fee]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
